* {
    font-family: Arial, Helvetica, sans-serif;
}

#view {
    display: flex;
    justify-content: center;
}

.main-content {
    border : 2px solid gray;
    border-radius: 5px;
    padding: 10px;
    width: 800px;
    height: 900px;
}

.read-container {
    display: flex;
    justify-content: center;
}

#read {
    border:1px  rgb(118, 132, 158) solid;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 600px;
}

#title {
    width: 191px;
}

#notes {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

.card {
    border-radius: 5px;
    padding: 7px;
    border: 2px solid rgb(191, 194, 202);
    width: 200px;
    height: 180px;
    overflow: hidden;
    box-shadow: 1px 2px 1px 1px rgb(149, 150, 165);
    margin: 7px;

}

.card h4 {
    text-align: center;
}

.card button {
    float: right;
    background-color: rgb(191, 183, 209);
    border: 1px ;
    padding: 2px;
    width: 24px;
    height: 20px;
    border-radius: 2px;
    color: white;
}

.card button:focus {
    outline: none;
}

.card button:hover {
    background-color: gray;
}